.cardWrapper {
  width: 20%;
  height: 20%;
  flex: 18%;
  padding: 5px;

  &:nth-child(5n+1) {
    padding-left: 10px;
  }

  &:nth-child(5n+5) {
    padding-right: 10px;
  }

  &:nth-child(-n+5) {
    padding-top: 10px;
  }
}

.cardContainer {
  background: url('/assets/images/card.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 5%;
  height: 100%;
  position: relative;
  font-size: 32px;
  user-select: none;
  -moz-user-select: none;

}

.cardContainer.red1 {
  background-image: url('/assets/images/red1.png');
}

.cardContainer.blue1 {
  background-image: url('/assets/images/blue1.png');
}

.cardContainer.empty1 {
  background-image: url('/assets/images/empty1.png');
}

.cardContainer.black1, .cardContainer.black2 {
  background-image: url('/assets/images/black1.png');
}

.cardContainer.red2 {
  background-image: url('/assets/images/red2.png');
}

.cardContainer.blue2 {
  background-image: url('/assets/images/blue2.png');
}

.cardContainer.empty2 {
  background-image: url('/assets/images/empty2.png');
}

.cardWord {
  height: 50%;
  bottom: -10px;
  position: relative;
  text-align: center;
}

.cardWordFlipped {
  height: 50%;
  width: 75%;
  text-align: center;
  position: relative;
  transform: rotate(180deg);
}