.cardTableContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: relative;
}

.gameId{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  background-color: white;
}